html, body {
  height: 100%;
  font: 14px "Segoe UI", sans-serif;
  line-height: 20px;
}

.b-sidebar {
  width: 332px;
  background: #bcbcbc;
  height: 100%;
  float: left;
}

.b-sidebar_state_editing {
  background: #5199db;
}

.b-sidebar_state_error {
  background: #f6c1c0;
}

.b-content {
  margin-left: 332px;
}

.b-matrix-wrapper {
  float: left;
  margin: 15px 0 25px 40px;
  display: table;
  position: relative;
}

.b-matrix-wrapper__bracket {
  border: 2px solid #404040;
  width: 8px;
}

.b-matrix-wrapper__bracket_left {
  border-right-width: 0;
}

.b-matrix-wrapper__bracket_right {
  border-left-width: 0;
}

.b-matrix-row {
  margin: 10px 0;
  font-size: 0;
  line-height: 0;
}

.b-matrix-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 40px;
  height: 40px;
  border: 1px solid #d9d9d9;

  vertical-align: bottom;
  margin-left: 10px;
  line-height: 1;

  display: inline-block;
  font-size: 16px;

}

.b-matrix_result .b-matrix-cell{
  padding: 18px 0 0 6px;
  letter-spacing: 0.025em;
  font-size: 13px;
}

.b-matrix_input .b-matrix-cell {
  border-top-color: #b2b2b2;

  -webkit-box-shadow: inset 0 1px 0 0 rgba(242,242,242,1);
  -moz-box-shadow: inset 0 1px 0 0 rgba(242,242,242,1);
  box-shadow: inset 0 1px 0 0 rgba(242,242,242,1);
}

.b-matrix_input .b-matrix-cell_active {
  outline: 1px solid #5199db;
  border-color: #5199db;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.b-matrix-cell__input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  border: 0;
  padding: 14px 0 0 6px;
  margin: 0;
  width: 38px;
  height: 38px;
}

.b-matrix-cell:first-child {
  margin-left: 0;
}

.b-matrix_result .b-matrix-cell {
  background: #f2f2f2;

}

.b-matrix-cell_empty,
.b-matrix-cell_empty .b-matrix-cell__input {
  color: #c9c9c9;
}

.b-matrix-letter {
  position: absolute;
  text-transform: uppercase;
  line-height: 1;
  font-size: 28px;
}

.b-matrix-letter_side_right {
  left: 100%;
  top: 50%;
  margin: -15px 0 0 19px;
}

.b-matrix-letter_side_bottom {
  left: 50%;
  top: 100%;
  margin: 15px 0 0 -9px;
}

.b-green-button {
  border: 0;
  outline: none;

  background: url(img/green-button-bg.png) 0 0 repeat-x;
  height: 42px;
  margin: 30px 15px 0 36px;
  padding: 0 12px 0 17px;
  position: relative;

  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.08em;

  overflow: visible; /* ie */
}

.b-green-button:focus {
  background-position: 0 -84px;
}

.b-green-button:hover {
  background-position: 0 -126px;
}

.b-green-button:active {
  background-position: 0 -168px;
}

.b-green-button:disabled {
  background-position: 0 -42px;
  color: #808080;
  cursor: default;
}


.b-green-button:before,
.b-green-button:after {
  position: absolute;
  content: " ";
  display: block;
  top: 0;
  background: url(img/green-button-arrow.png) 0 0 no-repeat;
  height: 42px;
  z-index: 2;
}

.b-green-button:after {
  left: 100%;
  background-position: -4px 0;
  width: 15px;
}

.b-green-button:before {
  left: 0;
  margin-left: -4px;
  width: 4px;
}

.b-green-button:focus:before {
  background-position: -38px 0;
}

.b-green-button:focus:after {
  background-position: -42px 0;
}

.b-green-button:hover:before {
  background-position: -57px 0;
}

.b-green-button:hover:after {
  background-position: -61px 0;
}

.b-green-button:active:before {
  background-position: -76px 0;
}

.b-green-button:active:after {
  background-position: -80px 0;
}

.b-green-button:disabled:before {
  background-position: -19px 0;
}

.b-green-button:disabled:after {
  background-position: -23px 0;
}



.clear {
  clear: both;
  display: block;
}

.ovh {
  overflow: hidden;
}

.clear-font {
  font-size: 0;
  line-height: 0;
}

.cell {
  display: table-cell;
}
